.Members-panel {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  border-radius: 8px;
  background-color: #d6d6d6;
  width: 85%;
  margin: 25px 0;
}

.Members-form {
  flex: 1;
  padding-right: 15px;
}
.Members-table {
  flex: 2;
  padding-left: 15px;
}
